.app-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #7FA653; 
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 40px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
}

.section {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.section h2 {
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid #63783D;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section li {
  font-size: 16px;
  line-height: 1.6;
}

.bold {
  font-weight: bold;
}

.footer {
  background-color: #7FA653;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}